accelerate==1.8.1
aiohttp==3.12.13
bitsandbytes==0.46.0
datasets==3.6.0
dreamsim==0.2.1
editdistance==0.8.1
lpips
numpy==2.0.2
openai==1.90.0
pdfCropMargins==2.2.1
peft==0.15.2
pillow==11.2.1
Pygments==2.19.2
sacrebleu==2.5.1
sacremoses==0.1.1
tiktoken==0.9.0
torch==2.7.0
torchmetrics==1.7.3
torchvision==0.22.0
tqdm==4.67.1
transformers==4.53.0
safetensors==0.5.3
trl @ git+https://github.com/huggingface/trl.git@6a6d4345c9e0ded5bdcfc67ca2d8d20ecb75d309
vllm==0.9.2
xformers==0.0.30
PyMuPDF==1.26.1
poppler-utils==0.1.0